[Unit]
Description=vocavolt-uWSGI-instance
After=network.target postgresql-11.service

[Service]
User=centos
Group=nginx
WorkingDirectory=/opt/vocavolt
Environment="PATH=/opt/vocavolt/venv/bin"
ExecStart=/opt/vocavolt/venv/bin/uwsgi --ini /opt/vocavolt/uwsgi/uwsgi.ini
Restart=always
KillSignal=SIGQUIT
Type=notify
NotifyAccess=all

[Install]
WantedBy=multi-user.target
